.flight {
  margin-bottom: 25px;
}

.flight__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 5px 15px;
  background-color: $main-blue;
  color: #fff;
}
